<div class="header-outer-wrapper">
  <div class="header-inner-wrapper">
    <div class="logo-wrapper">
      <p>FloSports CSD (logo?)</p>
    </div>
    <div class="user-wrapper">
      <p *ngIf="user$ | async as user" class="user-details"><span class="icon"><i class="fas fa-user"></i></span>
        {{ user.email }}</p>
      <button class="logout-button" (click)="logout()">Log out</button>
    </div>
  </div>
</div>

<!-- <div *ngIf="config$ | async as config" class="checkout-header-outer-wrapper">
  <div class="checkout-header-wrapper">
    <i floAnalytics class="logo" routerLink routerLinkActive="active" [attr.title]="config.siteName" [floSvg]="config.logoURL" [analyticsProperties]="analyticsProps"></i>
    <i floAnalytics class="activate-logo logo" [attr.title]="config.siteName" [floSvg]="config.activateThemeLogo"></i>
      <p *ngIf="config.showLoginPrompt" class="flo-footnote">Already have an account? <a floAnalytics [analyticsProperties]="analyticsProps" [routerLink]="['../login']" name="Go To Login" queryParamsHandling="merge" routerLinkActive="active">Log In</a></p>
      <p *ngIf="config.showJoinNowPrompt" class="flo-footnote">Don't have an account? <a floAnalytics [analyticsProperties]="analyticsProps" [routerLink]="['../create-account']" name="Go To Join Now" queryParamsHandling="merge" routerLinkActive="active">Join Now</a></p>
  </div>
</div> -->