
// TODO: _variables.scss file and import
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;
$primary-font-family: "Lato", sans-serif;
$grey-text-color: #5c5c5c;

.login-form-wrapper {
  display: grid;
  height: 100%;
  background: linear-gradient(
    to right bottom, 
    $light-green, 
    $dark-green);
  align-items: center;

  .login-form {
    background: #f0f0f0;
    width: 300px;
    justify-self: center;
    text-align: center;
    padding: 20px;
    border-radius: 4px;

    .form-field {
      display: grid;
      grid-template-columns: 50px auto;
      width: 100%;
      max-width: 320px;
      border-radius: 4px;
      background-color: #fff;
      overflow: hidden;
      margin-bottom: 10px;
      -moz-box-shadow: 5px 10px;
      -webkit-box-shadow: 5px 10px;
      box-shadow: 1px 2px 5px;

      .form-input {
        border: none;
        font-size: 16px;
        font-family: $primary-font-family;
        padding: 10px 15px;
        color: $grey-text-color;
        outline: none;
        line-height: 1.5;
      }

      .icon-wrapper {
        display: grid;
        align-items: center;
        background-color: $grey-text-color;

        span.icon {
          color: #fff;
        }
      }
    }

    .submit-button {
      width: 100%;
      background-color: $medium-green;
      font-size: 18px;
      font-family: $primary-font-family;
      font-weight: 300;
      color: #fff;
      border: none;
      padding: 10px 0;
      border-radius: 4px;
      margin-top: 15px;
      cursor: pointer;
      outline: none;

      &:hover {
        transform: translateY(-2px);
        transition: transform 0.2s ease 0s;
      }
    }
  }
}