<div class="login-form-wrapper">
  <form *ngIf="!(loggedIn$ | async)" class="login-form" [formGroup]="loginForm">
    <h2>FloSports CSD</h2>
    <div class="form-field">
      <div class="icon-wrapper">
        <span class="icon"><i class="fas fa-user"></i></span>
      </div>
      <input id="email-input" class="form-input" name="email" formControlName="email" placeholder="Email">
    </div>
    <div class="form-field">
      <div class="icon-wrapper">
        <span class="icon"><i class="fas fa-lock"></i></span>
      </div>
      <input id="password-input" class="form-input" name="password" formControlName="password" type="password"
        placeholder="Password">
    </div>
    <div *ngIf="(loginError$ | async) as loginError">
      <p class="error-msg">{{ loginError.message }}</p>
    </div>
    <div class="form-button">
      <button type="submit" class="button submit-button" (click)="login()">Log In</button>
    </div>
  </form>
</div>

<div *ngIf="(loggedIn$ | async)">
  you're logged in yippee
  <button class="button button-primary" (click)="logout()">Log Out</button>
</div>