$primary-font-family: "Lato", sans-serif;
$grey-text-color: #5c5c5c;
$light-grey: #d3d3d3;

.user-search-form-outer-wrapper {
  max-width: 768px;
  margin: 30px auto;
  padding: 0 30px;

  form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;

    .form-field {
      border-radius: 4px;
      background-color: #fff;
      overflow: hidden;
      margin-bottom: 10px;
      -moz-box-shadow: 5px 10px;
      -webkit-box-shadow: 5px 10px;
      box-shadow: 1px 2px 5px;

      .form-input {
        border: none;
        font-size: 14px;
        font-family: $primary-font-family;
        padding: 8px 12px;
        color: $grey-text-color;
        line-height: 1.5;
      }
    }

    .form-field > input {
      width: 100%;
    }

    .first-third {
      grid-column: 1 / 3;
    }

    .middle-third {
      grid-column: 3 / 5;
    }

    .last-third {
      grid-column: 5 / 7;
    }

    .first-half {
      grid-column: 1 / 4;
    }

    .second-half {
      grid-column: 4 / 7;
    }

    div.form-button {
      position: relative;

      .submit-button {
        width: 100%;
        background-color: blue;
        font-size: 18px;
        font-family: $primary-font-family;
        font-weight: 300;
        color: #fff;
        border: none;
        padding: 10px 0;
        border-radius: 4px;
        margin-top: 15px;
        cursor: pointer;
        outline: none;
  
        &:hover {
          // TODO: taking this away until hover can be synced with the fa-spinner
          // transform: translateY(-2px);
          // transition: transform 0.2s ease 0s;
        }
  
        &:disabled {
          background-color: $light-grey;
          cursor: not-allowed;
  
          &:hover {
            transform: none;
          }
        }
  
        .fa-spinner {
          font-size: 20px;
          position: absolute;
          top: 25px;
          right: 10px;
        }
      }
    }
  }
}